<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar()">
    <div class="p-grid">
      <div class="p-col-12">
        <h1>{{editando ? 'Edição de' : 'Nova'}} Pessoa</h1>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" #nome="ngModel" required minlength="5" [(ngModel)]="pessoa.nome">
        <app-message [control]="nome" error="required" text="Informe o nome"></app-message>
        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Logradouro</label>
        <input pInputText type="text" name="logradouro" #logradouro="ngModel" required
          [(ngModel)]="pessoa.endereco.logradouro">
        <app-message [control]="logradouro" error="required" text="Informe o logradouro"></app-message>
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Número</label>
        <input pInputText type="text" name="numero" #numero="ngModel" required [(ngModel)]="pessoa.endereco.numero">
        <app-message [control]="numero" error="required" text="Informe o número"></app-message>
      </div>

      <div class="p-col-12 p-md-4 p-fluid">
        <label>Complemento</label>
        <input pInputText type="text" name="complemento" [(ngModel)]="pessoa.endereco.complemento">
      </div>

      <div class="p-col-12 p-md-4 p-fluid">
        <label>Bairro</label>
        <input pInputText type="text" name="bairro" #bairro="ngModel" required [(ngModel)]="pessoa.endereco.bairro">
        <app-message [control]="bairro" error="required" text="Informe o bairro"></app-message>
      </div>

      <div class="p-col-12 p-md-4 p-fluid">
        <label>CEP</label>
        <p-inputMask mask="99.999-999" name="cep" #cep="ngModel" required [(ngModel)]="pessoa.endereco.cep">
        </p-inputMask>
        <app-message [control]="cep" error="required" text="Informe o CEP"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Cidade</label>
        <input pInputText type="text" name="cidade" #cidade="ngModel" required [(ngModel)]="pessoa.endereco.cidade">
        <app-message [control]="cidade" error="required" text="Informe a cidade"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Estado</label>
        <input pInputText type="text" name="estado" #estado="ngModel" required [(ngModel)]="pessoa.endereco.estado">
        <app-message [control]="estado" error="required" text="Informe o estado"></app-message>
      </div>

      <div class="p-col-12">
        <p-panel header="Contatos">
          <div class="p-grid">
            <div class="p-col-12">
              <button pButton label="Novo" icon="pi pi-plus" type="button" class="p-button-secondary"
                (click)="prepararNovoContato()"></button>
            </div>

            <div class="p-col-12">
              <p-table [value]="pessoa.contatos" [responsive]="true" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th class="col-acoes-header"></th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-contato let-rowIndex="rowIndex">
                  <tr>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.email}}</td>
                    <td>{{contato.telefone}}</td>
                    <td class="col-acoes">
                      <button pButton icon="pi pi-pencil" type="button" pTooltip="Editar" tooltipPosition="top"
                        class="p-mr-1" (click)="prepararEdicaoContato(contato, rowIndex)"></button>
                      <button pButton icon="pi pi-trash" type="button" pTooltip="Excluir" tooltipPosition="top"
                        class="p-ml-1"></button>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="4">
                      Nenhum contato cadastrado
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-panel>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Salvar" class="p-mr-1" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Nova" class="p-button-info p-ml-1 p-mr-1" (click)="nova(f)"></button>
        <a routerLink="/pessoas" class="p-ml-1">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>

<p-dialog header="Novo Contato" [(visible)]="exibindoFormularioContato" [modal]="true" *ngIf="contato">
  <form #frmContato="ngForm" (ngSubmit)="confirmarContato(frmContato)">
    <div class="p-col-12 p-fluid">
      <label>Nome</label>
      <input pInputText type="text" name="nome" required [(ngModel)]="contato.nome" #contatoNome="ngModel" />
      <app-message [control]="contatoNome" error="required" text="Informe o nome"></app-message>
    </div>

    <div class="p-col-12 p-fluid">
      <label>E-mail</label>
      <input pInputText type="email" name="email" required email [(ngModel)]="contato.email" #contatoEmail="ngModel" />
      <app-message [control]="contatoEmail" error="required" text="Informe o e-mail"></app-message>
      <app-message [control]="contatoEmail" error="email" text="Informe um e-mail válido"></app-message>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Telefone</label>
      <p-inputMask name="telefone" [(ngModel)]="contato.telefone" mask="(99) 99999-999?9"></p-inputMask>
    </div>

    <div class="p-col-12">
      <button pButton type="submit" label="Confirmar" [disabled]="frmContato.invalid"></button>
    </div>
  </form>
</p-dialog>
